.order {
    width: 100%;
    height: 100%;
    max-height: 556px;
    border-radius: 20px;
    padding: 42px 44px 42px 45px;
    background: #F7F6F6;

    @media (max-width: 576px) { 
        padding: 42px 28px 42px 28px;
    }

    &__header {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0px;
        margin-bottom: 35px;
        color: #000;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
    }

    &__input {
        width: 100%;
        padding-bottom: 3px;
        margin-bottom: 41px;
        border: none;
        border-bottom: 1px solid #CACDD8;
        background: transparent;
        outline: none;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;

        &:last-child {
            margin-bottom: 64px;
        }
    }

    &__price {
        color: #000;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;

        span {
            font-weight: 600;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0px;
        border-radius: 20px;
        border: 1px solid #040404;
        background: transparent;
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
}