@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    margin: 0 24px;
  }

  @media (max-width: 576px) { 
    margin: 0 auto;
  }
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 33px;
  padding: 16px 32px;
  background: rgba(204, 204, 204, 1);

  .logo {
    margin: 0px;
    color: #FFF;
    font-size: 36px;
    font-weight: 600;

    @media (max-width: 576px) { 
      font-size: 18px;
    }
  }

  @media (max-width: 576px) { 
    padding-top: 51px;
  }
}

.nav {
  &__link {
    position: relative;
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &-count {
      position: absolute;
      top: -6px;
      right: -20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: black;
      color: white;
      font-size: 10px;
    }
  }

  &_mobile {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav {
    &__link {
      display: none;
    }

    &_mobile {
      display: flex;
      align-items: center;

      :nth-child(1) {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-right: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(../public/products/icons/menu.svg);
      }

      :nth-child(2) {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url(../public/products/icons/jam_shopping-cart.svg);
      }
    }
  }
}